body,html{
    background: #f9f9f9;
}
.box{
    width: 765px;
    height: 500px;
    background:white;
    position: fixed;
    top:20px;
    left:50%;
    transform: translate(-50%,0);
}
.milogo{
    margin-top: 10px;
    text-align:center;
}
.title{
    font-size: 28px;
    margin-top: 42px;
    text-align: center;
    color:#333333;
}
.min-box{
    color:#000;
    margin-top: 36px;
    transform: translateX(31%);
}
.tel,.setPassword{
    margin-bottom: 8px;
    font-weight: 600;
}

.tel span{
    color:#ff6700;
}
#password,#rePassword{
    border:1px solid #e8e8e8;
    width: 294px;
    height: 38px;
    padding:9px;
    box-sizing:border-box;
    margin:15px 0 8px 0;
}
i{
    border-radius:4px;
    width:500px;
    height: 25px;
    margin-top:2px;
    padding-left:8px;
    font-size:14px;
    line-height: 25px;
}
.bg-danger{
    color:red;
}
.bg-success{
    color:green;
}
.tip{
    margin-top: 5px;
    overflow: hidden;
    display: none;
}
.tip ul{
    float: left;
    width: 14px;
    height: 14px;
    background: url(../images/icon01.jpg) no-repeat;
    position: relative;
    top: 7px;
}
.tip2{
    margin-top: 5px;
    overflow: hidden;
    display: none;
}
.tip2 ul{
    float: left;
    width: 14px;
    height: 14px;
    background: url(../images/icon01.jpg) no-repeat;
    position: relative;
    top: 7px;
}
.btn{
    color:#FFF;
    text-align:center;
    line-height: 35px;
    margin-top: 10px;
    background: #ff6700;
    border:1px solid #ea8038;
    width: 294px;
    height: 35px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}

.footer{
    text-align: center;
    margin-top:550px;
}
.footer a {
    color:#757575;
    cursor: pointer;
    margin: 0 5px;
}
.footer a:nth-child(1) {
    color:#000;
}

.footer a:hover {
    color:#000;
}
.copyright {
    margin-top: 12px;
}
.footer .copyright a{
    color: #757575;
    margin: 0 2px;
}

.copyright a:hover{
    color: #757575;
}
